@model List<ImageInfoModel>

@foreach (var image in Model)
{
    <tr>
        <td>@image.Id</td>
        <td>@image.ActionTaken</td>
        <td>@image.EditedAt</td>
        <td>@image.ImageKBSize</td>
        <td style="width: 1rem; padding: 0 !important;">
            <div class="gallery">
                <div class="thumbnail">
                    <a href="/@image.ImageUrl" data-pswp-width="" data-pswp-height="">
                        <img src="/@image.ThumbUrl" alt="thumbnail" />
                    </a>
                </div>
            </div>
        </td>
        <td>
            <button id="delete-image" class="btn btn-danger btn-sm" data-imageid=@image.Id data-userid=@ViewBag.UserId>
                <i class="fas fa-trash-alt"></i>
            </button>
            <button id="download-image" class="btn btn-success btn-sm">
                <i class="fas fa-cloud-download-alt"></i>
            </button>
        </td>
    </tr>
}