body {
    padding-top: 60px;
    margin-bottom: 0;
    overflow-x: hidden;

    // navbar
    .navbar {
        background-color: #290930;
        
        .container-fluid {
            padding: 0 5rem;
        }

        .nav-link {
            color: white !important;
            padding-left: .7em;
            margin: 0 .4rem;
        }

        .navbar-brand {
            display: flex;
            white-space: normal;
            text-align: center;
            word-break: break-all;
            align-items: center;
            max-width: fit-content;
            padding: 0;
            flex-grow: 0;
            font-weight: bold;
            color: #cc3391 !important;

            img {
                max-width: 2.3em;
                height: auto;
                margin-right: 0.3em;
            }

            p {
                margin: 0;
                white-space: normal;
                text-align: left;
                align-items: center;
                font-size: 25px;
            }
        }

        .navbar-brand:hover,
        .navbar-brand:active {
            color: #861c5e !important;
        }

        .nav-link:hover,
        .nav-link.active {
            color: #ec9fffa6 !important;
            text-decoration: underline;
        }

        .navbar-links {
            margin-left: 2rem;
            .dropdown-toggle {
                &::after {
                    vertical-align: middle !important;
                }
            }
            .tools {
                position: absolute;
                .dropdown-menu {
                    animation: slideup 0.5s ease;
                    min-width: 400px;
                    position: absolute;
                    top: 125%;
                    left: 50%;
                    transform: translateX(-30%);
                    background-color: #9e94d4;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);

                    a {
                        transition: all 0.2s;
                        &:hover {
                            background-color: transparent;
                            color: #ae00ffa6;
                            font-weight: 500;
                        }
                    }
                }
                @keyframes slideup {
                    from {
                        transform: translateY(-10%) translateX(-30%);
                        opacity: 0;
                    }
                
                    to {
                        transform: translateY(0%) translateX(-30%);
                        opacity: 1;
                    }
                }
            }
        }
    }

    //Main
    .main-container {
        min-height: 86vh;
        margin: 5rem 10rem;
    }

    Footer
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
    }
}