@use "_login-register.scss";

.login-register {
    .form-login {
        .form-group {
            width: 100% !important;
        }
        .info-user {
            display: flex;
            justify-items: center;
            align-items: center;
            margin-bottom: 1.2rem;
        }

        button.btn-register {
            margin-top: 0;
            border: 1px solid #919191;
            border-radius: 20px;
            padding: .4rem .7rem;
            width: 100%;
            background: linear-gradient(135deg, #9E0764, #3C0D47);
            color: #fff;
            font-size: 1.1rem;
        }
        button.btn-register:hover {
            background: linear-gradient(135deg, #79054c, #25082c);
        }
        p {
            margin-top: 1rem;
            font-size: .9rem;
        }
    }
}